### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
total_players = purchase_data["SN"].nunique()
summary_players = pd.DataFrame({"Total Players": [total_players]})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data["Item Name"].nunique()

In [6]:
avg_price = round(purchase_data["Price"].mean(),2)

In [7]:
total_purchases = purchase_data["Purchase ID"].count()

In [8]:
total_revenue = purchase_data["Price"].sum()

In [9]:
summary_info = pd.DataFrame({"Number of Unique Items": [unique_items],
                            "Average Price":[avg_price],
                            "Number of Purchases":[total_purchases],
                            "Total Revenue": [total_revenue]})

In [10]:
#summary_info["Average Price"]=summary_info["Average Price"].map('${:,.2f}'.format)

In [11]:
#summary_info["Total Revenue"]= summary_info["Total Revenue"].map('${:,.2f}'.format)

In [12]:
summary_info

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
total_count = purchase_data["Gender"].count()
males= purchase_data.loc[purchase_data["Gender"]=="Male"]
females= purchase_data.loc[purchase_data["Gender"]=="Female"]
other = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
total_males = males["Gender"].value_counts()
total_females = females["Gender"].value_counts()
other_disclosed = other["Gender"].value_counts()
#pct_male = males["Gender"].value_counts()/purchase_data["Gender"].count()
#pct_female = females["Gender"].value_counts()/purchase_data["Gender"].count()
#pct_other = other["Gender"].value_counts()/purchase_data["Gender"].count()
data = purchase_data["Gender"].value_counts()

In [14]:
pct_male = males["Gender"].count()/purchase_data["Gender"].count()
pct_female = females["Gender"].count()/purchase_data["Gender"].count()
pct_other = other["Gender"].count()/purchase_data["Gender"].count()

In [15]:
count = [pct_male,pct_female,pct_other]

In [16]:
summ = purchase_data["Gender"].value_counts()
x = pd.DataFrame({"Count":summ,
                 "Total Percent":count})
x

                       Count  Total Percent
Male                     652       0.835897
Female                   113       0.144872
Other / Non-Disclosed     15       0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
f_count = females["SN"].count()
f_avg = round(females["Price"].mean(),2)
f_total = females["Price"].sum()
f_avg_pp = round(females["Price"].sum()/females["SN"].count(),2)

In [18]:
m_count = males["SN"].count()
m_avg = round(males["Price"].mean(),2)
m_total = males["Price"].sum()
m_avg_pp = round(males["Price"].sum()/males["SN"].count(),2)

In [19]:
o_count = other["SN"].count()
o_avg = round(other["Price"].mean(),2)
o_total = other["Price"].sum()
o_avg_pp = round(other["Price"].sum()/other["SN"].count(),2)

In [20]:
avg_pur_price = [m_avg,f_avg,o_avg]
tot_pur_price = [m_total,f_total,o_total]
avg_pur_pp = [m_avg_pp,f_avg_pp,o_avg_pp]

In [21]:
summary_gender = pd.DataFrame({"Total Count": summ,
                              "Average Purchase Price":avg_pur_price,
                              "Total Purchase Price":tot_pur_price,
                              "Average Purchase Pricer Per Person":avg_pur_pp})
summary_gender

,Total Count,Average Purchase Price,Total Purchase Price,Average Purchase Pricer Per Person
Male,652,3.02,1967.64,3.02
Female,113,3.20,361.94,3.20
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], age_bins, labels= group_names)

In [24]:
groups = purchase_data.groupby("Age Bins")

In [25]:
tot_groups = groups["Purchase ID"].count()

In [26]:
per_groups = round((groups["Purchase ID"].count()/purchase_data["Purchase ID"].count())*100,2)
per_groups

Age Bins
<10       2.95
10-14     3.59
15-19    17.44
20-24    46.79
25-29    12.95
30-34     9.36
35-39     5.26
40+       1.67
Name: Purchase ID, dtype: float64

In [27]:
summary_ages = pd.DataFrame({"Percentage Per Group":per_groups,
                            "Total Count": tot_groups})
summary_ages

          Percentage Per Group  Total Count
Age Bins
<10                       2.95           23
10-14                     3.59           28
15-19                    17.44          136
20-24                    46.79          365
25-29                    12.95          101
30-34                     9.36           73
35-39                     5.26           41
40+                       1.67           13

In [28]:
price_total = groups["Price"].sum()
price_avg = round(groups["Price"].mean(),2)
total_count = groups["Gender"].count()

In [29]:
#gender_groups = purchase_data.groupby(["Age Bins", "Gender"])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
summary_age_demo = pd.DataFrame({"Total Count": total_count,
                                "Total Price": price_total,
                                "Average Price":price_avg})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
sn_groups = purchase_data.groupby("SN")

In [47]:
total_per_sn = sn_groups["Price"].sum()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
new_summary = pd.DataFrame(purchase_data[["Item ID","Item Name","Price"]])
new_summary.head()
purchase_count = new_summary.groupby("Item ID")["Item Name"].count()
purchase_total = new_summary.groupby("Item ID")["Price"].sum()

In [71]:
popular_item = pd.DataFrame({"Purchase Count":purchase_count,
                            "Purchase Total":purchase_total})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [73]:
profits = popular_item.sort_values("Purchase Total", ascending=False)

In [75]:
profits

         Purchase Count  Purchase Total
Item ID
178                  12           50.76
82                    9           44.10
145                   9           41.22
92                    8           39.04
103                   8           34.80
59                    8           33.84
108                   9           31.77
78                    7           30.80
72                    8           30.16
60                    8           28.32
179                   6           26.88
160                   6           26.40
25                    6           26.10
37                    8           25.28
139                   5           24.70
128                   5           24.55
138                   5           23.70
141                   7           22.33
87                    5           22.15
159                   7           21.56
136                   6           21.48
65                    5           21.20
101                   5           20.95
102                   6           20.64
133                   5           20.45
39                    5           19.70
111                   4           19.56
165                   4           19.44
75                    8           19.36
52                    4           19.36
...                 ...             ...
124                   4            5.16
0                     4            5.12
155                   5            5.05
48                    2            4.96
158                   2            4.90
51                    1            4.66
134                   1            4.50
30                    2            4.42
135                   3            4.20
91                    1            4.17
177                   2            4.16
70                    4            4.12
115                   2            4.08
69                    2            3.96
47                    1            3.58
180                   1            3.36
27                    1            3.30
183                   3            3.27
31                    2            3.10
168                   2            2.96
90                    1            2.94
33                    2            2.32
26                    2            2.24
118                   1            2.17
28                    2            2.12
125                   2            2.00
126                   1            2.00
23                    1            1.99
104                   1            1.93
42                    1            1.75

[183 rows x 2 columns]